@font-face {
	font-family: F1;
	font-display: auto;
	src: url(Formula1-Regular.woff2) format('woff2'), url(Formula1-Regular.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: F1;
	font-display: auto;
	src: url(Formula1-Italic.woff2) format('woff2'), url(Formula1-Italic.woff) format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: F1;
	font-display: auto;
	src: url(Formula1-Bold.woff2) format('woff2'), url(Formula1-Bold.woff) format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: F1;
	font-display: auto;
	src: url(Formula1-Black.woff2) format('woff2'), url(Formula1-Black.woff) format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: F1Wide;
	font-display: auto;
	src: url(Formula1-Wide.woff2) format('woff2'), url(Formula1-Wide.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-stretch: expanded;
	font-display: swap;
}
