/* Formula 1 */

@font-face {
	font-family: 'Formula1';
	src: url('./fonts/formula1/Formula1-Regular.woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Formula1';
	src: url('./fonts/formula1/Formula1-Bold.woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Formula1';
	src: url('./fonts/formula1/Formula1-Black.woff2');
	font-weight: 900;
	font-style: normal;
}

/* KH Interference F1 */

@font-face {
	font-family: 'KH Interference F1';
	src: url('./fonts/kh-interference-f1/KHInterferenceF1-Regular.woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'KH Interference F1';
	src: url('./fonts/kh-interference-f1/KHInterferenceF1-Bold.woff2');
	font-weight: 700;
}
